body{
    background-color: rgb(70, 142, 236);
    font: normal 15px Arial;
}
header{
    color:white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding:15px;
     width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.377);
}
.res{
    margin-top: 20px;
    margin-left: 100px;
    padding:8px ;
}
#res{
    border-radius: 8px;
    padding:8px ;
    width: 175px;
}
#temperaturas{
    border-radius: 8px;
    padding: 8px;
    border: 1;
    margin-left: 8px;
}
#quantia{
    border-radius: 8px;
    padding: 12px;
    border: 1;
    margin-left: 8px;
}
#botao{
    border-radius: 8px;
    padding: 4px;
    border: 1;
    margin-left: 8px;
}